@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

body {
  background: linear-gradient(236.85deg, #e7e7e7 27.26%, #8c8c8c 96.03%);
  font-family: 'Poppins', sans-serif;
  background-size: auto;
}

.container {
  background-size: auto;
  background: #f2f2ee;
  color: black;
  margin: 150px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between; 
}

.perfil {
  display: flex;
  
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 24px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 18px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  background: #DDDDDD;
  border-radius: 100px;
  font-family: 'Poppins', sans-serif;
  border: none;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.projetos h3 {
  font-weight: 400;
  font-size: 18px;  
  list-style: none;
  color: black;
  text-align: center;
}

.projetos-item {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  margin: 20px;
}

.projetos-item a {
  color: black;
  text-decoration: none;
}

.vida dt {
  font-weight: 700;
  font-size: 24px;
}

.hobbies-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

.dark .container {
  background: black;
  color: #f2f2ee;
}

.dark .projetos {
  color: #f2f2ee;
}

.dark .tema. button {
  background-color: #1c1c1c;
  border: 2px solid #f7f7f7;
}

.dark .projetos h3 {
  font-weight: 400;
  font-size: 18px;  
  list-style: none;
  color: #f2f2ee;
}